@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import "fonts.css";
@import "vgon25.css";
@import "vgff26.css";

:root {
  --bulma-primary-h: 201deg;
  --bulma-primary-l: 49%;
  --bulma-link-h: 201deg;
  --bulma-link-l: 49%;
  --bulma-success-h: 93deg;
  --bulma-success-s: 100%;
  --bulma-success-l: 55%;
  --bulma-warning-h: 52deg;
  --bulma-warning-l: 50%;
  --bulma-arrow-color: white;
  --bulma-loading-color: white;
  --bulma-body-color: hsl(221deg,14%,85%);
}

.box {
  --bulma-box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 0 1px hsla(0, 0%, 0%, 0.05), 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02), 0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

html { scroll-padding-top: 100px; }

.navbar {
  --bulma-navbar-burger-color: white;
}

.text-shadow {	
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* ko-fi icon */
.fa-ko-fi::before {
  content: "\f0f4";
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.45em;
  margin: -0.45em 0 0 -0.2em;
  overflow-y: hidden;
  padding-top: 0.45em;
}

.fa-ko-fi::after {
  color: red;
  content: "\f004";
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}

.fa-ko-fi.ko-fi-white::after {
  color: white;
  content: "\f004";
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:not(.tooltip-right) {
	border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 0px;
  border: 1px solid #00a3f8;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:not(.tooltip-right) .tooltiptext {
	bottom: 100%;
	left: 50%;
	margin-left: -115px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-right .tooltiptext {
	top: -5px;
	left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext ,
.tooltip:active .tooltiptext ,
.tooltip:focus .tooltiptext {
  visibility: visible;
}

.footer {
	background: linear-gradient(0deg, #0A0A0A 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 20%), linear-gradient(rgba(1,10,25,1), rgba(1,10,25,.1)), url("/img/footer.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.ahboxright {
	background: url('/img/vghero/ah_splash.png');
	background-size: cover;
	background-repeat: no-repeat;
  height: 100%;
  min-height: 200px;
}

.has-rounded-corners {
  border-radius: var(--bulma-radius);
}