@charset "utf-8";

@font-face {
	font-family: 'Bomber Escort';
	src: url('/img/bomber.ttf') format('truetype');
}
@font-face {
	font-family: 'Bomber Escort Condensed';
	src: url('/img/bomber_condensed.ttf') format('truetype');
}
@font-face {
	font-family: 'Exo Black';
	src: url('/img/exo.ttf') format('truetype');
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

$cyan: #00ffff;
$blue: #00a3f8;
$yellow: #fddc00;
$pink: #d96ca8;
$red: #f81500;
$vg24orange: #f89100;

$radius: 0px;


html { scroll-padding-top: 100px; }

.bomber {
	font-family: 'Bomber Escort' !important;
	font-weight: 400 !important;
	text-transform: lowercase;
}

.exo {
	font-family: 'Exo Black' !important;
	font-weight: 400 !important;
}

.shadow {
	box-shadow: 5px 5px 0px -1px $blue !important;
	-webkit-box-shadow: 5px 5px 0px -1px $blue !important;
	-moz-box-shadow: 5px 5px 0px -1px $blue !important;
}

.has-background-vg24 {
	background-color: $vg24orange !important;
}

.vg24-shadow {
	box-shadow: 5px 5px 0px -1px $vg24orange !important;
	-webkit-box-shadow: 5px 5px 0px -1px $vg24orange !important;
	-moz-box-shadow: 5px 5px 0px -1px $vg24orange !important;
}



.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vg-box {
	transition: all 0.5s ease;
}

.vg-box:hover {
	background: $vg24orange;
}

.site-footer {
	background: linear-gradient(0deg, #0A0A0A 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 20%), linear-gradient(rgba(1,10,25,1), rgba(1,10,25,.1)), url("/img/footer.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.front-hero {
	background: url('/img/hero_castle.png');
	background: url('/img/hero_castle.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.volumes-hero {
	background: url('/img/volumes_hero.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.button.is-dark:hover {
	background-color: $blue !important;
}

.fade-out-stream {
    animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
	}
}

.fade-in-stream {
    animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
		}
}

.shadowed-text {
	text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.stream-box {
	box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	-webkit-box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	-moz-box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	background-image: url('/img/texture.png');
	border-radius: 0px !important;
}

.zoom-bg {
	background-size: 100% auto;
	background-position: center;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.zoom-bg:hover {
	background-size: 105% auto;
}

@import 'bulma/sass/utilities/initial-variables';

$primary: $blue;
$danger: $yellow;
$success: $pink;
$text-strong: $white-bis;
$link-hover: $cyan;
$content-heading-color: $white;
$menu-item-color: $white;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $primary;
$menu-item-active-color: $black;
$menu-item-active-background-color: $danger;
$scheme-main: $black;
$navbar-item-color: $blue;
$modal-card-head-background-color: $blue;
$modal-card-head-border-bottom: 0px solid black;
$modal-card-foot-border-top: 0px solid black;
$modal-content-width: 600px;
$navbar-background-color: $blue;
$navbar-item-color: $white;

@import 'bulma/bulma.sass';