@charset "utf-8";

@font-face {
	font-family: 'Bomber Escort';
	src: url('/img/bomber.ttf') format('truetype');
}
@font-face {
	font-family: 'Bomber Escort Condensed';
	src: url('/img/bomber_condensed.ttf') format('truetype');
}
@font-face {
	font-family: 'Exo Black';
	src: url('/img/exo.ttf') format('truetype');
}
@font-face {
	font-family: 'Teko Semibold';
	src: url('/img/teko.ttf') format('truetype');
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

$cyan: #00ffff;
$blue: #00a3f8;
$yellow: #fddc00;
$pink: #d96ca8;
$red: #f81500;
$vg24orange: #f89100;

$radius: 0px;


html { scroll-padding-top: 100px; }

.bomber {
	font-family: 'Bomber Escort' !important;
	font-weight: 400 !important;
	text-transform: lowercase;
}

.exo {
	font-family: 'Exo Black' !important;
	font-weight: 400 !important;
}

.teko {
	font-family: 'Teko Semibold' !important;
	font-weight: 400 !important;
}

.shadow {
	box-shadow: 5px 5px 0px -1px $blue !important;
	-webkit-box-shadow: 5px 5px 0px -1px $blue !important;
	-moz-box-shadow: 5px 5px 0px -1px $blue !important;
}

.has-background-vg24 {
	background-color: $vg24orange !important;
}

.vg24-shadow {
	box-shadow: 5px 5px 0px -1px $vg24orange !important;
	-webkit-box-shadow: 5px 5px 0px -1px $vg24orange !important;
	-moz-box-shadow: 5px 5px 0px -1px $vg24orange !important;
}

.ff25-shadow {
	filter: drop-shadow(0px 0px 8px #0066cc);
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vg-box > img {
	transition: all 0.5s ease;
}

.vg-box:hover > img {
	filter: drop-shadow(0 0 0.75rem $vg24orange);
	transition: all 0.5s ease;
}

.site-footer {
	background: linear-gradient(0deg, #0A0A0A 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 20%), linear-gradient(rgba(1,10,25,1), rgba(1,10,25,.1)), url("/img/footer.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

.front-hero {
	background: url('/img/hero_castle.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.front-hero-ff25 {
	background: url('/img/hero_ff25.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.volumes-hero {
	background: url('/img/volumes_hero.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.ff25-gamebg {
	background: url('/img/gamebg_ff25.png'), url('/img/grid.png'), linear-gradient(
		0deg,
		hsl(224deg, 100%, 11%) 0%,
		hsl(224deg, 98%, 12%) 7%,
		hsl(223deg, 97%, 13%) 14%,
		hsl(222deg, 95%, 14%) 21%,
		hsl(221deg, 93%, 15%) 29%,
		hsl(220deg, 92%, 16%) 36%,
		hsl(219deg, 90%, 17%) 43%,
		hsl(219deg, 89%, 18%) 50%,
		hsl(218deg, 87%, 19%) 57%,
		hsl(217deg, 86%, 20%) 64%,
		hsl(216deg, 84%, 21%) 71%,
		hsl(215deg, 83%, 22%) 79%,
		hsl(214deg, 81%, 23%) 86%,
		hsl(213deg, 80%, 25%) 93%,
		hsl(213deg, 79%, 26%) 100%
	);
	background-size: contain,contain;
	background-repeat: no-repeat,repeat;
	background-position: top; 
	background-blend-mode: normal,multiply,normal;
}

.button.is-dark:hover {
	background-color: $blue !important;
}

.fade-out-stream {
    animation-name: fadeOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
	}
}

.fade-in-stream {
    animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
		}
}

.shadowed-text {
	text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.stream-box {
	box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	-webkit-box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	-moz-box-shadow: 10px 10px 0px -1px rgba(217,108,168,1) !important;
	background-image: url('/img/texture.png');
	border-radius: 0px !important;
}

.zoom-bg {
	background-size: cover;
	background-position: center;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
/* fix zooom
.zoom-bg:hover {
	background-size: 105% auto;
}
*/	
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:not(.tooltip-right) {
	border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 0px;
  border: 1px solid $blue;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;


}

.tooltip:not(.tooltip-right) .tooltiptext {
	bottom: 100%;
	left: 50%;
	margin-left: -115px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-right .tooltiptext {
	top: -5px;
	left: 105%;
}



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext ,
.tooltip:active .tooltiptext ,
.tooltip:focus .tooltiptext {
  visibility: visible;
}



@import 'bulma/sass/utilities/initial-variables';

$primary: $blue;
$danger: $yellow;
$success: $pink;
$text-strong: $white-bis;
$link-hover: $cyan;
$content-heading-color: $white;
$menu-item-color: $white;
$menu-item-hover-color: $black;
$menu-item-hover-background-color: $primary;
$menu-item-active-color: $black;
$menu-item-active-background-color: $danger;
$scheme-main: $black;
$navbar-item-color: $blue;
$modal-card-head-background-color: $blue;
$modal-card-head-border-bottom: 0px solid black;
$modal-card-foot-border-top: 0px solid black;
$modal-content-width: 600px;
$navbar-background-color: $blue;
$navbar-item-color: $white;
$tabs-link-color: $white;
$tabs-link-hover-border-bottom-color: $vg24orange;
$tabs-border-bottom-width: 3px;
$tabs-toggle-link-hover-background-color: $black-ter;
$tabs-toggle-link-border-color: $blue;
$tabs-toggle-link-hover-border-color: $blue;
$dropdown-item-color: white;
$dropdown-item-hover-color: white;
$dropdown-item-hover-background-color: #121212;
$dropdown-content-padding-bottom: 0px;
$dropdown-content-padding-top: 0px;
$dropdown-content-offset: 0px;

@import 'bulma/bulma.sass';