<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black" data-theme="dark">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered vgon25hero">
            <div class="hero-body">
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgon25/logo_vgon25.png">
                </div>
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgon25/tagline_vgon25.png">
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="https://start.gg/vgon25" class="button is-success is-large is-responsive">
                        <span class="has-text-weight-bold">Register Now</span>
                    </a>
                    <a href="#tournaments" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Tournaments</span>
                    </a>
                    <a href="/watch" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Watch Live</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-background-black">
            <div class="container is-widescreen">
                <div class="content has-text-centered">
                    <h1 class="is-size-3 exo">{{ page.title }}</h1>
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-half-desktop is-hidden-touch">
                        <figure class="image">
                            <img src="/img/vgon25/Continents.png">
                        </figure>
                    </div>
                    <div class="column is-half-desktop">
                        <div class="content has-text-white">
                        {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section container-fluid">
            {% include vgon25/lineup.html %}
        </section>
        <section class="section vgff26hero has-text-centered">
            <a class="container" href="/events/vgff26">
                <img src="/img/vgff26/logo_vgxff26.png" alt="Vortex Gallery at Frosty Faustings XVIII">
                <br>    
                <img src="/img/vgff26/vgff26_form_cta.png" alt="Run your game at FFXVIII with us! Applications are open!">
            </a>
        </section>
        <section class="section">
            {% include vghero.html %}
        </section>
    </body>
    {% include footer.html %}
</html>