<!DOCTYPE html>
<html class="has-navbar-fixed-top">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-black" id="rules-title">
            <div class="hero-body has-text-centered">
                <h1 class="title exo">
                    {{ page.title }}
                </h1>
                {% if page.date %}
                <h2 class="subtitle">
                    Last updated on {{ page.date }}
                </h2>
                {% endif %}
            </div>
        </section>
        <section class="section" style="min-height: 100vh;">
            <div class="container is-max-widescreen">
                <div class="columns is-desktop">
                    <div class="column is-two-thirds-desktop">
                        <div class="rules-div content" id="General">
                            {{ content }}
                            <h2>Player's Guide</h2>
                            <div class="is-hidden-touch" style="height: 80vh;">
                            <iframe width="100%" height="100%" src="https://docs.google.com/document/d/e/2PACX-1vRND6894wu0-RT9B2c-N8vUuJ8l5WhFj3JXXyYkzrjg4bAa7S10RgXMb6Kv1-dkhErV1FyOluaIr6oc/pub?embedded=true"></iframe>
                            </div>
                            <div class="is-hidden-desktop">
                            <div class="block has-text-centered">
                                <a class="button is-primary" href="https://956pro.com/playersguide" target="_blank">Open Player Guide in New Tab</a>
                            </div>
                            </div>
                        </div>
                        {% assign curGame = '' %}
                        {% for i in site.data.vgon25.games %}
                        {% if i['Abbr-Game'] != curGame %}
                        {% assign curGame = i['Abbr-Game'] %}
                        <div class="rules-div content has-text-white is-hidden" id="{{i['Abbr-Game']}}">
                            {% for r in site.data.vgon25.games %}
                            {% if r['Abbr-Game'] == curGame %}
                                <h2>{{ r['Short Name'] | default: r['Game Name'] }} {{r['Format-Rollup'] | default: ""}} ({{ r['Region Abbr. (from Regions)']  | replace:",","+" }} - {{ r['Data-Platform Short Name'] }})</h2>
                                <hr/>
                                {% include vgon25/rulesblock.html %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column is-one-third-desktop mb-5" >
                        <hr class="is-hidden-desktop">
                        <h4 class="is-size-4 mb-2 has-text-weight-bold">Info Categories</h4>
                        <aside class="menu has-background-black-ter p-5" style="max-height: 60vh; overflow-y: auto;">
                            <div class="menu-list">
                                <a class="is-active rules-btn" id="btn-General" data-target="General">Player's Guide</a>
                            </div>
                            <p class="menu-label">
                                All Games
                            </p>
                            <div class="menu-list">
                                {% assign curGame = '' %}
                                {% for n in site.data.vgon25.games %}
                                {% if n['Abbr-Game'] != curGame %}
                                {% assign curGame = n['Abbr-Game'] %}
                                <a class="rules-btn my-1" style="white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden;" id="btn-{{n['Abbr-Game']}}" data-target="{{n['Abbr-Game']}}">{{ n['Game Name'] | default: n['Game Name'] }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>