<footer class="footer">
    <nav class="level mb-0">
        <div class="level-item">
            <figure class="image is-128x128">
                <a href="https://956.productions/">
                    <img src="/img/956pro.png">
                </a>
            </figure>
        </div>
    </nav>
    <div class="content has-text-centered">
        <a href="https://bsky.app/profile/956.productions">
            <span class="icon is-large">
                <i class="fab fa-2x fa-bluesky"></i>
            </span>
        </a>
        <a href="https://discord.gg/QDU8kEyDXM">
            <span class="icon is-large">
                <i class="fab fa-2x fa-discord"></i>
            </span>
        </a>
        <a href="https://ko-fi.com/956productions">
            <span class="icon is-large">
                <i class="fas fa-2x fa-ko-fi ko-fi-white"></i>
            </span>
        </a>
        <a href="{{site.twitch}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-twitch"></i>
            </span>
        </a>
        <a href="https://twitter.com/{{site.twitter.username}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-twitter"></i>
            </span>
        </a>
        <a href="{{site.youtube}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-youtube"></i>
            </span>
        </a>
    </div>
    <div class="content has-text-centered">
        <p class="has-text-weight-semibold">Contact: info@956.productions</p>
        <p id="quote" class="has-text-weight-semibold"></p>  
        <p>Designed by <a href="https://shib.live">Shiburizu</a>, © 956 Productions</p>   
    </div>
</footer>