<footer class="footer site-footer has-background-black">
    <div class="content has-text-centered has-text-white">
        <figure class="image">
            <a href="https://956.productions/">
                <img src="/img/956pro.png" style="max-height: 131px; width: auto;">
            </a>
        </figure>
        <a href="https://bsky.app/profile/956.productions">
            <span class="icon is-large">
                <i class="fab fa-2x fa-bluesky"></i>
            </span>
        </a>
        <a href="https://discord.gg/QDU8kEyDXM">
            <span class="icon is-large">
                <i class="fab fa-2x fa-discord"></i>
            </span>
        </a>
        <a href="{{site.twitch}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-twitch"></i>
            </span>
        </a>
        <a href="https://twitter.com/{{site.twitter.username}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-twitter"></i>
            </span>
        </a>
        <a href="{{site.youtube}}">
            <span class="icon is-large">
                <i class="fab fa-2x fa-youtube"></i>
            </span>
        </a>
    </div>
    <div class="ff25-shadow content has-text-centered has-text-white">
        <p class="has-text-weight-semibold">Contact: info@956.productions</p>
        <p id="quote" class="has-text-weight-semibold"></p>  
        <p>Designed by <a href="https://shib.live">Shiburizu</a>, © 956 Productions</p>   
    </div>
</footer>