{% assign curGame = '' %}
<div class="columns is-multiline is-centered mt-2 is-hidden-touch">
    {% for i in site.data.frosty %}
    {% if i['Smash URL'] or i['Alt Reg URL'] %}
    {% if i['Abbr-Game'] != curGame %}
    {% assign curGame = i['Abbr-Game'] %}
    <!-- <a class="ff25-gametile modal-trigger column is-2 is-flex is-flex-direction-column is-align-items-center p-0 m-2" href="{{i['Smash URL']}}"> -->
    <a class="ff25-gametile modal-trigger column is-2 is-flex is-flex-direction-column is-align-items-center p-0 m-2" data-target="{{i['Abbr-Game']}}">
        <div class="block pt-4 px-4">
            <div style="height:125px; max-width:200px;" class="ff25-shadow p-0 is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <img src="/img/games/{{i['Abbr-Game']}}.png" style="width: 100%; height: auto; max-width: 180px; image-rendering: -webkit-optimize-contrast;" loading="lazy">
            </div>
        </div>
        <div class="block pb-4 px-4">
            {% if i['Format-Rollup'] %}
            <p class="has-text-white is-size-7 has-text-centered ff25-shadow"><b>{{i['Game Name']}} {{i['Format-Rollup']}}</b></p>
            {% else %}
            <p class="has-text-white is-size-7 has-text-centered ff25-shadow"><b>{{i['Game Name']}}</b></p>
            {% endif %}
        </div>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
<div class="columns is-multiline is-centered is-hidden-desktop">
    {% for i in site.data.frosty %}
    {% if i['Smash URL'] %}
    {% if i['Abbr-Game'] != curGame %}
    {% assign curGame = i['Abbr-Game'] %}
    <div class="column is-4-desktop is-12-tablet is-3-widescreen p-1">
        <!-- <a class="button is-black is-fullwidth ff25-shadow" href="{{i['Smash URL']}}">{{ i['Game Name'] }}</a> -->
        <a class="button modal-trigger is-black is-fullwidth ff25-shadow" data-target="{{i['Abbr-Game']}}">{{ i['Game Name'] }}</a>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% include modals_ff25.html %}