{% assign curGame = '' %}
{% for i in site.data.games %}
{% if i['Smash URL'] or i['Alt Reg URL'] %}
{% if i['Abbr-Game'] != curGame %}
{% assign curGame = i['Abbr-Game'] %}
<div class="modal has-text-left has-text-white" id="{{i['Abbr-Game']}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title m-0">{{ i['Short Name'] }}</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <figure class="image mx-0 mt-0 mb-2 has-text-centered is-flex is-justify-content-center">
          <img src="/img/games/{{i['Abbr-Game']}}.png" style="max-height: 150px; width: auto;" loading="lazy">
        </figure>
        <div class="block content">
          <h3>Available Tournaments</h3>
          <p>Please click on a link below to access tournament registration.</p>
            {% for r in site.data.games %}
              {% if r['Abbr-Game'] == curGame %}
              {% if r['Alt Reg URL'] %}
              <a href="{{r['Alt Reg URL'] | default: 'https://start.gg/vgon24' }}"><b>{{r['Game Name']}} ({{r['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global"  }})</b></a>
              {% else %}
              <a href="{{r['Smash URL'] | default: 'https://start.gg/vgon24' }}"><b>{{r['Game Name']}} ({{r['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global" }})</b></a>
              {% endif %}
              <ul>
                <li>Start time: <div class="tooltip">{{ r['Time-Local String'] | replace: ".5)",":30)"}}<span class="tooltiptext timestamp-text" data-time="{{ r['Time-Epoch'] }}">Enable javascript for system time.</span></div></li>
                <li>Platform: {{ r['Rollup-Platform'] | default: 'TBD' }}</li>
                {% if r['Matcherino URL'] %}
                <li><a href="{{r['Matcherino URL']}}">Matcherino Link</a></li>
                {% endif %}
              </ul>
              {% endif %}
            {% endfor %}
        </div>
      </section>
      
      <footer class="modal-card-foot" style="background-color: black;">
        <a class="button is-primary" href="/info#{{i['Abbr-Game']}}">Full Rules</a>
      </footer>
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}