{% assign curGame = '' %}
{% for i in site.data.games %}
{% if i['Smash URL'] or i['Alt Reg URL'] %}
{% if i['Abbr-Game'] != curGame %}
{% assign curGame = i['Abbr-Game'] %}
<div class="modal has-text-left" id="{{i['Abbr-Game']}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title m-0">{{ i['Abbr-Game'] }} at Vortex Gallery</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <figure class="image mx-0 mt-0 mb-2">
          <img src="{{i['Img-Game Logo URL']}}" style="max-height: 150px; width: auto;" loading="lazy">
        </figure>
        <div class="block">
          <h2>{{i['Game Name']}}</h2>
        </div>
        <div class="block">
          <h3>Available Tournaments</h3>
          <ul>
            {% for r in site.data.games %}
              {% if r['Abbr-Game'] == curGame %}
              {% if r['Alt Reg URL'] %}
              <li><a href="{{r['Alt Reg URL'] | default: 'https://start.gg/vortexgallery' }}"><b>{{r['Short Name']}} ({{r['Abbr-Regions List']}}) ({{r['Info-Platform']}})</b></a></li>
              {% else %}
              <li><a href="{{r['Smash URL'] | default: 'https://start.gg/vortexgallery' }}"><b>{{r['Short Name']}} ({{r['Abbr-Regions List']}}) ({{r['Info-Platform']}})</b></a></li>
              {% endif %}
              <ul>
                {% assign StartList = r['Time-Start (Local)'] | split: "," %}
                {% assign TZMainList = r['TZ Main'] | split: "," %}
                {% assign TZMain = TZMainList[0] %}
                {% assign TZOffsetList = r['TZ Offset'] | split: "," %}
                {% assign TZOffset = TZOffsetList[0] %}

                {% if StartList.size > 1 %}
                {% assign day = 1 %}
                {% for d in StartList %}

                {% if r['TZ Offset'] contains "-" %}
                <li><b>Day {{day}} Local Start Time: {{ d }} {{ TZMain  }} (GMT{{ TZOffset }})</b></li>
                {% else %}
                <li><b>Day {{day}} Local Start Time: {{ d }} {{ TZMain }} (GMT+{{ TZOffset }})</b></li>
                {% endif %}

                {% assign day = day | plus: 1 %}
                {% endfor %}

                {% else %}
                {% if r['TZ Offset'] contains "-" %}
                <li><b>Local Start Time: {{ r['Time-Start (Local)'] }} {{ r['TZ Main'] }} (GMT{{ r['TZ Offset'] }})</b></li>
                {% else %}
                <li><b>Local Start Time: {{ r['Time-Start (Local)'] }} {{ r['TZ Main'] }} (GMT+{{ r['TZ Offset'] }})</b></li>
                {% endif %}
                
                {% endif %}

                {% if r['Stream-Pools'] %}
                {% if r['Stream-Pools'] contains "," %}
                <li><b>Stream Channel 1:</b> <a href="https://twitch.tv/chickzama">twitch.tv/chickzama</a></li>
                <li><b>Stream Channel 2:</b> <a href="https://twitch.tv/chfinal">twitch.tv/chfinal</a></li>
                {% else %}
                <li><b>Bracket Stream Channel:</b> <a href="{{ r['Stream-Pools'] }}">{{ r['Stream-Pools'] | remove: "https://" | remove: "www." }}</a></li>
                {% endif %}
                {% endif %}
                {% if r['Stream-Finals'] %}
                {% if r['Stream-Pools'] != r['Stream-Finals'] %}
                <li><b>Finals Stream Channel:</b> <a href="{{ r['Stream-Finals'] }}">{{ r['Stream-Finals'] | remove: "https://" | remove: "www." }}</a></li>
                {% endif %}
                {% endif %}
                {% if r['Matcherino URL'] and r['Matcherino URL'] contains "tournaments" %}
                {% unless r['Abbr-Regions List'] contains "CN" %}
                <li><a href="{{ r['Matcherino URL'] }}"><b>Crowdfunding via Matcherino</b></a></li>
                {% endunless %}
                {% endif %}
                
              </ul>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="block">
            <p>Please click on a link above to access tournament registration.</p>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot" style="background-color: black;">
        <a class="button is-primary" href="/info#{{i['Abbr-Game']}}">Info</a>
      </footer>
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}