<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/' | relative_url }}">
            <img src="{{ 'img/icon.png' | relative_url }}">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div class="navbar-menu">
        <div class="navbar-start">
        </div>
  
        <div class="navbar-end">
            {% for p in site.nav %}
            <a class="navbar-item" href="{{ p.url | relative_url }}">
                {{ p.title }}
            </a>
            {% endfor %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-warning" href="https://start.gg/vortexgallery">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-info" href="/volunteer">
                        <strong>Volunteer</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>