<div class="{{ include.class | default: '' }} Week-{{include.id}}" id="">
{% assign curDate = '' %}
{% for i in site.data.schedule %}
    {% if i["Week"] == include.week %}
    {% if i[include.date] != curDate %}
    {% assign curDate = i[include.date] %}
    <h4 class="pt-2">{{ i[include.date] }} - {{include.id}}</h4>
    <hr class="mt-0 mb-2 has-background-primary">
    {% endif %}
        <div class="mb-1 tournament-entry" style="border-bottom: 1px solid #363636;" data-regions="{{ i['Rollup-Regions'] }}">
            <div class="tooltip tooltip-right">
                <span class="tag is-dark has-text-weight-bold" style="min-width: 75px;">
                    {{ i[include.time] }}
                </span>
                <span class="tooltiptext timestamp-text" data-time="{{ i['Time-Epoch'] }}">
                    Enable javascript for system time.
                </span>
            </div>
            <a class="modal-trigger" data-target="{{i['Abbr-Game']}}">
                <b class="is-hidden-mobile">[{{i['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global" | replace:"SA/","" }}] {{i['Game Name']}}</b>
                <b class="is-hidden-tablet">[{{i['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global" | replace:"SA/","" }}] {{i['Short Name']}}</b>
            </a>
            {% if i['Stream Links'] | strip != '' %}
            <a href="{{ i['Stream Links'] }}" target="_blank">
                <span class="icon">
                    <i class="fas fa-desktop"></i>
                </span>
            </a>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
</div>