<h2>Friday, August 5th</h2>
<div class="columns is-mobile is-gapless">
<div class="column is-narrow">
<table class="schedule-table">
    <thead>
        <tr>
            <th>PST (Local)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>PST (Local)</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>EST (UTC-4)</th>
        </tr>
        <tr>
            <th>BRT (UTC-3)</th>
        </tr>
    </tfoot>
    <tbody>
        {% for i in site.data.games %}
        {% if i['Day'] contains 'Friday' %}
        <tr>
        <th>
        {{ i['Abbr. (from Game)'] }}
        </th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="column" style="overflow-x:auto;">
<table class="table schedule-table">
    <thead>
        <tr>
            <th>10:00 AM</th>
            <th>11:00 AM</th>
            <th>12:00 PM</th>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
            <th>4:00 PM</th>
            <th>5:00 PM</th>
            <th>6:00 PM</th>
            <th>7:00 PM</th>
            <th>8:00 PM</th>
            <th>9:00 PM</th>
            <th>10:00 PM</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>10:00 AM</th>
            <th>11:00 AM</th>
            <th>12:00 PM</th>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
            <th>4:00 PM</th>
            <th>5:00 PM</th>
            <th>6:00 PM</th>
            <th>7:00 PM</th>
            <th>8:00 PM</th>
            <th>9:00 PM</th>
            <th>10:00 PM</th>
        </tr>
        <tr>
            <th colspan="99">Alternative Timezones</th>
        </tr>
        <tr>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
            <th>4:00 PM</th>
            <th>5:00 PM</th>
            <th>6:00 PM</th>
            <th>7:00 PM</th>
            <th>8:00 PM</th>
            <th>9:00 PM</th>
            <th>10:00 PM</th>
            <th>11:00 PM</th>
            <th>12:00 AM</th>
            <th>1:00 AM</th>
        </tr>
        <tr>
            <th>14:00</th>
            <th>15:00</th>
            <th>16:00</th>
            <th>17:00</th>
            <th>18:00</th>
            <th>19:00</th>
            <th>20:00</th>
            <th>21:00</th>
            <th>22:00</th>
            <th>23:00</th>
            <th>0:00</th>
            <th>1:00</th>
            <th>2:00</th>
        </tr>
    </tfoot>
    {% for i in site.data.games %}
        {% if i['Day'] contains 'Friday' %}
        <tr>
        {% if i['Pools A Stream Start Time'] contains '8/5' %}
        
        {% if i['Stream Block Offset'] != '0' %}
        <td colspan="{{i['Stream Block Offset']}}"></td>
        {% endif %}

        {% if i['Stream Block Length'] != 'NaN' %}
        <td colspan="{{i['Stream Block Length']}}" class="bracket has-text-black"><small><b>{{ i['Abbr. (from Game)'] }} Bracket</b></small></td>
        {% endif %}

        {% endif %}

        {% if i['Finals Start Time'] contains '8/5' %}

        {% if i['Pools A Stream Start Time'] contains '8/5' %}

        {% assign mod = i['Stream Block Offset'] | plus: i['Stream Block Length'] %}
        {% assign mod2 = i['Finals Block Offset'] | minus: mod %}
        {% assign mod3 = mod2 | plus: 0 %}
        {% assign mod4 = mod3 | round %}

        {% if mod4 > 0 %}
        <td colspan="{{ mod4 }}"></td>
        {% endif %}
        <td colspan="{{ i['Finals Block Length'] }}" class="finals has-text-black"><small><b>{{ i['Abbr. (from Game)'] }} {{ i['Finals-Cut Off'] | default: 'Finals' }}</b></small></td>
        {% else %}
        <td colspan="{{ i['Finals Block Offset'] }}"></td>
        <td colspan="{{ i['Finals Block Length'] }}" class="finals has-text-black"><small><b style="margin-left:5px;">{{ i['Abbr. (from Game)'] }} {{ i['Finals-Cut Off'] | default: 'Finals' }}</b></small></td>
        {% endif %}
        {% endif %}
        <td colspan="99"></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
</div>
</div>