<div class="{{ include.class | default: '' }} Week-{{include.id}}" id="">
{% assign curDate = '' %}
{% for i in site.data.schedule %}
    {% if i["Week"] == include.week %}
    {% if i[include.date] != curDate %}
    {% assign curDate = i[include.date] %}
    <h4 class="pt-2">{{ i[include.date] }}</h4>
    <hr class="mt-0 mb-2 has-background-primary">
    {% endif %}
        <div class="mb-1 tournament-entry" style="border-bottom: 1px solid #363636;" data-regions="{{ i['Rollup-Regions'] }}">
            <span class="tag is-dark has-text-weight-bold">
                {{ i[include.time] }}
            </span>
            <a class="modal-trigger" data-target="{{i['Abbr-Game']}}">
                <b class="is-hidden-mobile">[{{i['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global" | replace:"SA/","" }}] {{i['Game Name']}}</b>
                <b class="is-hidden-tablet">[{{i['Rollup-Regions'] | replace:",","+" | replace:"ALL","Global" | replace:"SA/","" }}] {{i['Short Name']}}</b>
            </a>
        </div>
    {% endif %}
{% endfor %}
</div>