<section class="section has-text-white has-text-centered">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column">
                <a href="https://956pro.com/shop">
                    <figure class="img is-hidden-desktop">
                        <img src="/img/VGOn24_Startgg_Shop.png">  
                    </figure>
                </a>
                <h3 class="is-size-2 teko"><i>Vortex Gallery Merch</i></h3>
                <p>Pick up all-new designs inspired by our 2024 Online event and a returning cast of fan favorites on our high-quality shirts and premium stickers.<br><br>Shipping internationally with all-new colorways and designs!</p>
                <a class="button is-medium is-danger mt-4" href="/shop"><b>Shop Now</b></a>
            </div>
            <div class="column is-hidden-touch">
                <a href="https://956pro.com/shop">
                <figure class="img">
                    <img src="/img/VGOn24_Startgg_Shop.png">  
                </figure>
                </a>
            </div>
        </div>
    </div>
</section>