<section class="section has-background-primary has-text-white has-text-centered">
    <div class="container is-widescreen">
        <div class="columns is-vcentered">
            <div class="column">
                <h3 class="is-size-1 exo">Vortex Gallery Merch</h3>
                <p><b>Premium shirts, hoodies & stickers designed by and for the anime FGC. Featuring works by Godsh0t, MetaAbe & Woofycakes. Shipping internationally with new colorways!</b></p>
                <a class="button is-medium is-danger mt-4" href="/shop"><b>Shop Now</b></a>
            </div>
            <div class="column">
                <figure class="img">
                    <img src="/img/merch_designs.png">  
                </figure>
            </div>
        </div>
    </div>
</section>