<section class="section has-background-black has-text-white has-text-centered volumes-hero">
    <div class="is-flex is-align-items-center is-justify-content-center is-flex-wrap-wrap">
        <div class="block mb-0">
            <img style="image-rendering: -webkit-optimize-contrast; max-height: 300px; width: auto;" src="/img/merch_designs.png">
        </div>
        <div class="block">
            <img style="image-rendering: -webkit-optimize-contrast;" src="/img/merch_tagline.png">
            <br>
            <a class="button shadow is-medium is-primary mt-3" href="/shop"><b>Shop Now</b></a>
        </div>
    </div>
</section>