<section class="section has-background-black has-text-white has-text-centered">
    <h2 class="bomber is-size-2 mb-2" style="line-height: 1;">Thank you to our sponsors</h2>
    <div class="container-fluid is-flex is-justify-content-center is-flex-wrap-wrap is-flex-direction-row">
        {% for image in site.static_files %}
            {% if image.path contains 'img/sponsors' %}
                <div class="column is-narrow is-flex is-justify-content-space-evenly is-align-items-center">
                <figure class="image">
                    <img loading='lazy' style="max-height: 100px; width: auto; max-width: 400px;" src="{{ site.baseurl }}{{ image.path }}">
                </figure>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>