<section class="section p-0 is-hidden-touch">
    <div class="tile has-text-white">
        <div class="tile zoom-bg" style="background-image: url(/img/VG24_Stripe_2.png)">
            <div class="columns is-vcentered p-5 mx-5">
                <div class="column is-narrow">
                    <figure class="image">
                        <img src="/img/logo_vgon24.png" style="max-width: 150px; height: auto;" loading="lazy">
                    </figure>
                </div>
                <div class="column shadowed-text">
                    <b class="is-size-4">VG Online 2024</b><br><b>Oct. 11 - Nov. 10, 2024</b>
                </div>
            </div>
        </div>
        <div class="tile zoom-bg" style="background-image: url(/img/VGFF25_Stripe.png);">
            <div class="columns is-vcentered p-5 mx-5">
                <div class="column is-narrow">
                    <figure class="image">
                        <img src="/img/logo.png" style="max-width: 150px; height: auto;" loading="lazy">
                    </figure>
                </div>
                <div class="column shadowed-text">
                    <b class="is-size-4" style="white-space: nowrap;">VG at Frosty Faustings XVII</b><br><b>Jan. 23-26, 2025</b>
                </div>
            </div>
        </div>
    </div>
</section>