<!DOCTYPE html>
<html class="has-navbar-fixed-top vgff26bg" data-theme="dark">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered vgff26hero">
            <div class="hero-body">
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/logo_vgff26.png">
                </div>
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/slogan.png">
                    <br>
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/tagline_vgff26.png">
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="/register" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Register</span>
                    </a>
                    <a href="/volunteer" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Volunteer</span>
                    </a>
                    <a href="https://start.gg/ffxviii" class="button is-white is-large is-responsive">
                        <span class="has-text-weight-bold">FFXVIII Passes</span>
                    </a>
                </div>
                
            </div>
        </section>
        <section class="section">
            <div class="container is-widescreen">
                <div class="content has-text-centered">
                    <h1 class="is-size-1 teko">The Largest Community Tournament in the FGC</h1>
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-6-desktop is-hidden-touch">
                        <figure class="image">
                            <img src="/img/vgff26/ffxviii_logo.png">
                        </figure>
                    </div>
                    <div class="column">
                        <div class="box content has-text-white">
                        {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section pt-0">
            {% include vgff26/lineup_full.html %}
        </section>
        <section class="section">
            <div class="container box">
                {% include vgff26/byoc_cta.html %}
            </div>
        </section>
        <section class="section">
            <div class="container box">
                {% include vgff26/vghero_ff26.html %}
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>