<!DOCTYPE html>
<html class="has-navbar-fixed-top vgff26bg" data-theme="dark">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered vgff26hero">
            <div class="hero-body">
                <div class="block">
                    <div class="box" style="max-width: fit-content; margin: auto;">
                        <strong>‼️ BRACKETS ARE LIVE! REQUEST CHANGES <a href="https://956pro.com/requests">HERE</a> BY TUESDAY 1/27/2026 ‼️</strong>
                    </div>
                </div>
                <div class="block" style="max-width: 800px; height: auto; margin: auto;">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/logo_vgff26.png">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/slogan.png">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/vgff26/tagline_vgff26.png">
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="/register" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Register</span>
                    </a>
                    <a href="/schedule" class="button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Schedule</span>
                    </a>
                    <a href="https://start.gg/ffxviii" class="button is-white is-large is-responsive">
                        <span class="has-text-weight-bold">FFXVIII Passes</span>
                    </a>
                </div>
                
            </div>
        </section>
        <section class="section">
            <div class="container is-widescreen">
                <div class="content has-text-centered">
                    <h1 class="is-size-1 teko">The Largest Community Tournament in the FGC</h1>
                </div>
                <div class="columns box is-vcentered">
                    <div class="column">
                        <div class="content has-text-white">
                        <figure class="image">
                            <img src="/img/vgff26/ffxviii_logo.png">
                        </figure><br>
                        {{ content }}
                        </div>
                    </div>
                    <div class="column is-8-desktop">
                        <figure class="image is-16by9">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AbEkyNGlyqg" title="Vortex Gallery × Frosty Faustings XVIII 2026 Announcement Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <section class="section pt-0">
            {% include vgff26/lineup_full.html %}
        </section>
        <section class="section">
            <div class="container box">
                {% include vgff26/byoc_cta.html %}
            </div>
        </section>
        <section class="section">
            <div class="container box">
                {% include vgff26/vghero_ff26.html %}
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>