{% assign curGame = '' %}
<div class="content">
<h2 class="teko has-text-centered is-size-1" id="tournaments">Vortex Gallery 2026 Tournaments</h2>
<div class="columns is-gapless is-multiline is-centered is-hidden-touch">
    {% for i in site.data.vgff26.games %}
    {% if i['Smash URL'] %}
    {% if i['Abbr-Game'] != curGame %}
    {% assign curGame = i['Abbr-Game'] %}
    <a class="column mb-2 is-2 is-flex is-flex-direction-column is-align-items-center" href="{{ i['Smash URL'] }}">
        <div class="">
            <div style="height:160px; max-width:250px;" class="mt-4 p-4 vg-box is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <img class="vgff26img" src="/img/games/{{i['Abbr-Game']}}.png" style="width: 100%; height: auto; max-width: 200px; image-rendering: -webkit-optimize-contrast;" loading="lazy">
            </div>
        </div>
        <div class="block">
            <p class="is-size-7 has-text-white has-text-weight-semibold has-text-centered">{{i['Game Name']}} {% if i['Format']%}{{ i['Format-Rollup'] }}{% endif %}</p>
        </div>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
<div class="columns is-multiline is-centered mt-2 is-hidden-desktop">
    {% for i in site.data.vgff26.games %}
    {% if i['Smash URL'] %}
    {% if i['Abbr-Game'] != curGame %}
    {% assign curGame = i['Abbr-Game'] %}
    <div class="column is-12-tablet p-1">
        <a class="button is-primary is-fullwidth has-text-white" href="{{ i['Smash URL'] }}">{{ i['Game Name'] }} {% if i['Format']%}{{ i['Format-Rollup'] }}{% endif %}</a>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
</div>