<div class="container content has-text-white has-text-centered">
    <div class="columns is-multiline is-mobile mt-2">
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_1.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_2.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_3.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_4.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_5.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile" loading="lazy">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_6.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile is-hidden-touch">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_7.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_8.webp" loading="lazy">
            </figure>
        </div>
        <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
            <figure class="image m-0">
                <img src="/img/vghero/photos/site_9.webp" loading="lazy">
            </figure>
        </div>
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center  mb-4 py-4 px-2" style="background-image: url('/img/vghero/vghero_top.webp'); background-size: cover;">
        <img class="mt-2 px-2" style="image-rendering: -webkit-optimize-contrast; max-width: 500px; width: 100%;" src="/img/logo.png">
        <h2 class="px-2 is-size-1-tablet is-size-3-mobile bomber my-2 text-shadow"><i>BRING YOUR OWN MIX</i></h2>
        <p class="px-4 text-shadow" style="max-width: 780px;"><b>Vortex Gallery is a series run through the collaboration of volunteer organizers, streamers, moderators, and commentators at major events in North America and online.</b></p>
        <div class="pb-2"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#00a3f8', 'U7U414JGNN');kofiwidget2.draw();</script></div> 
    </div>
</div>