<section class="section">    
    <div class="columns is-vcentered is-align-items-end">
        <div class="column is-one-quarter-desktop is-hidden-touch is-flex">
            <div class="tabs is-toggle">
                <ul>
                    <li class="is-active" id="schedule-tab"><a>Schedule</a></li>
                    <li class="" id="chat-tab"><a>Chat</a></li>
                </ul>
            </div>
        </div>
        <a class="column has-text-centered" href="https://956pro.com/shop" target="_blank">
            <figure class="image">
                <img src="/img/vgon25/shop_widget.png">
            </figure>
        </a>
    </div>
    <div id="player-container" class="columns is-vcentered">
        <div class="column is-one-third-desktop is-one-quarter-fullhd is-hidden-touch">
            <iframe
                class="is-hidden"
                id="chat_embed"
                src="https://www.twitch.tv/embed/956productions/chat?darkpopout&parent=vortexgallery.moe"
                height="100%"
                width="100%"
                theme="dark"
                style="border:1px solid #00a3f8; border-radius: 6px;">
            </iframe>
            <div id="schedule_list" class="has-background-black has-text-white" style="width: 100%; height: 0px; overflow-y: auto; overflow-x: hidden; text-overflow: ellipsis; border:1px solid #00a3f8; border-radius: 6px;">
                <p class="p-2">Click any entry to switch streams.</p>
                {% for i in site.data.vgon25.streams %}
                <div class="stream-entry" data-target="{{i['Stream']}}" data-start="{{ i['Start'] }}" data-end="{{ i['End'] }}" style="overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <span data-time="{{ i['Start'] }}" class="short-timestamp-text tag is-size-7 has-text-white has-text-weight-bold" style="min-width: 130px;">
                        ...
                    </span>
                    <div class="nowlive tag is-hidden is-danger has-text-weight-bold" data-start="{{ i['Start'] }}" data-end="{{ i['End'] }}">LIVE NOW</div>
                    <a class="stream-trigger" data-target="{{ i['Stream'] }}">
                        <b class="is-hidden-desktop-only is-size-7">{{ i['Game'] }}</b>
                        <b class="is-hidden-widescreen is-size-7">{{ i['Short'] }}</b>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <figure class="image is-16by9" style="border:1px solid #00a3f8;">
                <iframe id="twitch-player" class="has-ratio "src="https://player.twitch.tv/?channel=956productions&parent=vortexgallery.moe" frameborder="0" allowfullscreen="true" scrolling="no" height="auto" width="100%"></iframe>
            </figure>
        </div>
    </div>
    <div class="is-hidden-desktop has-background-black has-text-white" style="width: 100%; height: 70vh; overflow-y: auto; overflow-x: hidden; text-overflow: ellipsis; border:1px solid #00a3f8; border-radius: 6px;">
        <p class="p-2">Click any entry to switch streams.</p>
        {% for i in site.data.vgon25.streams %}
        <div class="stream-entry" data-target="{{i['Stream']}}" data-start="{{ i['Start'] }}" data-end="{{ i['End'] }}" style="overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap;">
            <span data-time="{{ i['Start'] }}" class="tag short-timestamp-text is-size-7 has-text-weight-bold has-text-white">
                ...
            </span>
            <div class="nowlive tag is-hidden is-danger has-text-weight-bold" data-start="{{ i['Start'] }}" data-end="{{ i['End'] }}">LIVE NOW</div>
            <a class="stream-trigger" data-target="{{i['Stream']}}">
                <b class="is-size-7">{{ i['Short'] }}</b>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
