<!DOCTYPE html>
<html style="overflow-y: hidden !important; background-color: rgba(0, 0, 0, 0) !important;">
    {% include header.html %}
    <body>
        <section class="ml-5 is-hidden section p-0 is-size-3" id="credits" style="position:absolute;">
            <img class="image my-5" src="/img/header_956.png">
            <div class="container-fluid has-text-white exo">
                <div id="956credits"></div>
            </div>
            <img class="image my-5" src="/img/header_staff.png">
            <div class="container-fluid has-text-white exo">
                <div id="staffcredits"></div>
            </div>
            <img class="image my-5" src="/img/header_games.png">
            <div class="container-fluid has-text-white exo">
                <div id="gamescredits"></div>
            </div>
            <img class="image my-5" src="/img/header_song.png">
            <div class="container-fluid has-text-white exo">
                <div id="songcredits">
                    <p>
                        <b>"Petal Dance" By Tempxa (@TempxaRK9)</b>
                    </p>
                </div>
            </div>
            <img class="image my-5" src="/img/header_thanks.png">
            <div class="container-fluid has-text-white exo">
                <div id="thankscredits"></div>
            </div>
            <img class="image my-5" src="/img/956pro_big.png">
            <div class="container-fluid has-text-white exo">
                <div>
                    <p><b>@956productions</b></p>
                    <p><b>youtube.com/956productions</b></p>
                    <p><b>956pro.com/shop</b></p>
                    <p><b>956.productions</b></p>
                </div>
            </div>  
        </section>
    </body>
    <footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="{{ 'js/credits.js' | relative_url }}"></script>
    </footer>
</html>