<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% if page.redirect %}
    <script>
        window.location.replace("{{ page.redirect }}" + window.location.hash);
    </script>
    {% endif %}
    {% include header.html %}
    <body>
        {% include navbar.html %}
        {% if page.nohero %}
        {% else %}
        <section class="hero is-link has-text-centered has-background-black">
            <div class="hero-body">
                <h1 class="title titling is-1">
                    {{ page.title }}
                </h1>
                {% if page.date %}
                <h2 class="subtitle">
                    Last updated on {{ page.date }}
                </h2>
                {% endif %}
            </div>
        </section>
        {% endif %}
        <section class="section has-background-black-bis">
            {% if page.fluid %}
            <div class="container-fluid is-max-desktop">
            {% else %}
            <div class="container is-max-desktop">
            {% endif %}
                <div class="content has-text-white">
                    {{ content }}
                </div>
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>