<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered front-hero">
            <div class="hero-body">
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/logo.png">
                </div>
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/tagline.png">
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="/schedule" class="button is-danger is-large is-responsive">
                        <span class="has-text-weight-bold">Schedule</span>
                    </a>
                    <a href="https://www.axs.com/search?q=evo" class="button is-primary is-large is-responsive">
                        <span class="icon">
                            <i class="fa fa-link"></i>
                        </span>
                        <span class="has-text-weight-bold">Evo Passes</span>
                    </a>
                    <a href="/volunteer" class="button is-primary is-large is-responsive">
                        <span class="icon">
                            <i class="fa fa-clipboard"></i>
                        </span>
                        <span class="has-text-weight-bold">Volunteer</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-background-black">
            <div class="container is-max-desktop">
                <div class="content has-text-white has-text-centered">
                    <h1 class="is-size-2 bomber">{{ page.title }}</h1>
                    {{ content }}
                    <a href="{{site.twitch}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-twitch"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/{{site.twitter.username}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-twitter"></i>
                        </span>
                    </a>
                    <a href="{{site.youtube}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-youtube"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-background-primary">
            <div class="container has-text-white has-text-centered">
                <h2 class="bomber is-size-2 mb-4" style="line-height: 1;">International exhibition events</h2>
                <div class="columns m-0">
                    <div class="column">
                        <div class="box mb-0" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height:256px; background: url('/img/98stage.gif')">
                            <img src="/img/98logo.png" style="max-height: 200px; width: auto;">
                        </div>
                        <h3 class="bomber is-size-3 has-text-white">8/5/2o22</h3>
                    </div>

                    <div class="column">
                        <div class="box mb-0" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height:256px; background: url('/img/02stage.gif')">
                            <img src="/img/02logo.png" style="max-height: 200px; width: auto;">
                        </div>
                        <h3 class="bomber is-size-3 has-text-white">8/6/2o22</h3>
                    </div>
                </div>
                <p class="has-text-white bomber is-size-2">1o AM PT on</p><span class="icon-text"><span class="icon"><i class="fab fa-twitch"></i></span><a href="https://twitch.tv/teamsp00ky" class="has-text-white bomber is-size-2">/teamspooky</a></span>
            </div>
        </section>
        <section class="section has-background-black-bis">
            <div class="container-fluid">
                <div class="content has-text-white has-text-centered">
                    <h1 class="is-size-2 bomber">Vortex Gallery Tournaments</h1>
                    <div class="block">
                        <a href="https://supercombo.gg"><img src="/img/supercombo.png"></a>
                        <p class="content"><span class="icon"><i class="fas fa-newspaper"></i></span><b>Spectator guides presented by SuperCombo.gg, the home of competitive fighting games.</b></p>
                    </div>
                    {% include games_buttons.html %}
                </div>
            </div>
        </section>
        {% include sponsors.html %}
    </body>
    {% include footer.html %}
</html>