<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered front-hero">
            <div class="hero-body">
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/logo.png">
                </div>
                <div class="block">
                    <img style="image-rendering: -webkit-optimize-contrast;" src="/img/tagline.png">
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="https://956.productions/results/vortex-gallery-evo-2022" class="button is-danger is-large is-responsive">
                        <span class="has-text-weight-bold">Results</span>
                    </a>
                    <a href="https://956pro.com/shop" class="button is-primary is-large is-responsive">
                        <span class="has-text-weight-bold">Merch</span>
                    </a>
                    <a href="https://twitch.tv/956productions" class="button is-primary is-large is-responsive">
                        <span class="has-text-weight-bold">Streaming</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-background-black">
            <div class="container is-max-desktop">
                <div class="content has-text-white has-text-centered">
                    <h1 class="is-size-3 bomber">{{ page.title }}</h1>
                    {{ content }}
                    <a href="{{site.twitch}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-twitch"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/{{site.twitter.username}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-twitter"></i>
                        </span>
                    </a>
                    <a href="{{site.youtube}}">
                        <span class="icon is-large">
                            <i class="fab fa-2x fa-youtube"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-background-black-bis">
            <div class="container has-text-white has-text-centered">
                <h2 class="bomber is-size-3 mb-4">Vortex Gallery merchandise</h2>
                <div class="columns is-mobile is-multiline">
                    <div class="column is-half-mobile">
                        <div class="box is-flex is-justify-content-center is-align-items-center" style="background-color: #F2F2F2; height: 100%;">
                            <figure class="image">
                                <img src="/img/woofshirt.png" style="max-height: 300px; width: auto;">
                            </figure>
                        </div>
                    </div>
                    <div class="column is-half-mobile">
                        <div class="box is-flex is-justify-content-center is-align-items-center" style="background-color: #F2F2F2; height: 100%;">
                            <figure class="image">
                                <img src="/img/godshotshirt.png" style="max-height: 300px; width: auto;">
                            </figure>
                        </div>
                    </div>
                    <div class="column is-half-mobile">
                        <div class="box is-flex is-justify-content-center is-align-items-center" style="background-color: #F2F2F2; height: 100%;">
                            <figure class="image">
                                <img src="/img/foashirt.png" style="max-height: 300px; width: auto;">
                            </figure>
                        </div>
                    </div>
                    <div class="column is-half-mobile">
                        <div class="box is-flex is-justify-content-center is-align-items-center" style="background-color: #F2F2F2; height: 100%;">
                            <figure class="image">
                                <img src="/img/woofsticker.png" style="max-height: 300px; width: auto;">
                            </figure>
                        </div>
                    </div>
                </div>
                <h2 class="bomber is-size-3 mb-4">Available online for a limited time!</h2>
                <p class="content">Limited edition shirts & stickers available until 9/12 online!</p>
                <a href="https://956pro.com/shop" class="button is-primary">Shop Now</a>
            </div>
        </section>
        <section class="section has-background-black">
            <div class="container-fluid">
                <div class="content has-text-white has-text-centered">
                    <h1 class="is-size-3 bomber">Discover Vortex Gallery</h1>
                    <div class="block">
                        <a href="https://supercombo.gg"><img src="/img/supercombo.png"></a>
                        <p class="content"><span class="icon"><i class="fas fa-newspaper"></i></span><b>Spectator guides presented by SuperCombo.gg, the home of competitive fighting games.</b></p>
                    </div>
                    {% include games_buttons.html %}
                </div>
            </div>
        </section>
        {% include sponsors.html %}
    </body>
    {% include footer.html %}
</html>