<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered front-hero-ff25">
            <div class="hero-body" style="padding: 3rem 0.5rem;">
                <div class="block">
                    <img class="ff25-shadow" style="image-rendering: -webkit-optimize-contrast;" src="/img/logo.png">
                </div>
                <img class="ff25-shadow" style="width: 95%; max-width: 600px; image-rendering: -webkit-optimize-contrast;" src="/img/slogan_ff25.png">
                <div class="has-text-centered block teko is-size-1-tablet is-size-4-mobile ff25-shadow mt-2">
                    <p style="line-height: 1.2;"><i>The Community Tournaments at FFXVII</i></p>
                </div>
                <div class="buttons is-justify-content-center">
                    <a href="https://start.gg/vortexgallery" class="ff25-shadow button is-warning is-large is-responsive">
                        <span class="has-text-weight-bold">Register</span>
                    </a>
                    <a href="https://start.gg/ffxvii" class="ff25-shadow button is-white is-large is-responsive">
                        <span class="has-text-weight-bold">FFXVII Passes</span>
                    </a>
                    <a href="/apply" class="ff25-shadow button is-white is-large is-responsive">
                        <span class="has-text-weight-bold">Volunteer</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section has-text-black has-text-centered has-background-white pt-2 pb-1">  
            <h2 class="teko is-size-3 is-uppercase" style="line-height: 1;"><i>January 23-26, 2025 at The Westin in Lombard, IL</i></h2>
        </section>
        <section class="section has-background-black-bis pt-3">
            <div class="container is-max-desktop">
                <div class="content has-text-white has-text-centered">
                    <!-- <h1 class="is-size-1-tablet is-size-1-mobile teko">{{ page.title }}</h1> -->
                </div>
                <div class="columns is-vcentered">
                    <div class="column is-half-desktop">
                        <figure class="image">
                            <a href="https://frostyfaustings.com"><img src="/img/ff_logo.png"></a>
                            <p class="buttons is-centered pt-4">
                                <a class="button is-primary" href="https://twitter.com/frostyfaustings">
                                    <span class="icon is-small">
                                      <i class="fab fa-twitter"></i>
                                    </span>
                                    <span><strong>@FrostyFaustings</strong></span>
                                </a> 
                                <a class="button is-primary" href="https://frostyfaustings.com/venue/">
                                  <span class="icon is-small">
                                    <i class="fas fa-hotel"></i>
                                  </span>
                                  <span><strong>Venue Info</strong></span>
                                </a>
                            </p>
                        </figure>
                    </div>
                    <div class="column is-half-desktop">
                        <div class="content has-text-white">
                        {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section has-background-black py-1 px-0">
            <div class="container is-max-desktop">    
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/LeWE758foEU" frameborder="0" allowfullscreen></iframe>
                </figure>
            </div>
        </section>
        <section class="section ff25-gamebg" id="tournaments">  
            <div class="content has-text-white has-text-centered p-4 mb-2">
                <h2 class="teko is-size-2 ff25-shadow"><i>FFXVII Community Tournaments</i></h2>
                <b class="ff25-shadow">Join the squad to commentate your favorite game or help out with brackets by <a style="color: #00ffff;" href="/apply">applying to volunteer today!</a></b> 
            </div>
            <div class="container is-widescreen has-text-centered">
            {% include games_ff25.html %}
            </div>
        </section>
        {% include shop_promo.html %}
        <section class="section has-background-white py-4">
            <div class="container is-max-desktop has-text-centered">
                <div class="columns is-gapless is-vcentered is-centered">
                    <div class="mx-2 column is-narrow">
                        <h2 class="teko has-text-black is-size-2"><i>Stay Connected!</i></h2>
                    </div>
                    <div class="mx-2 column is-narrow">
                        <a href="https://bsky.app/profile/956.productions">
                            <span class="icon is-large">
                                <i class="fab fa-2x fa-bluesky"></i>
                            </span>
                        </a>
                        <a href="https://discord.gg/QDU8kEyDXM">
                            <span class="icon is-large">
                                <i class="fab fa-2x fa-discord"></i>
                            </span>
                        </a>
                        <a href="https://ko-fi.com/956productions">
                            <span class="icon is-large">
                                <i class="fas fa-2x fa-ko-fi ko-fi-white"></i>
                            </span>
                        </a>
                        <a href="{{site.twitch}}">
                            <span class="icon is-large">
                                <i class="fab fa-2x fa-twitch"></i>
                            </span>
                        </a>
                        <a href="https://twitter.com/{{site.twitter.username}}">
                            <span class="icon is-large">
                                <i class="fab fa-2x fa-twitter"></i>
                            </span>
                        </a>
                        <a href="{{site.youtube}}">
                            <span class="icon is-large">
                                <i class="fab fa-2x fa-youtube"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section has-background-black ff25-gamebg-alt">
            <div class="container content has-text-white has-text-centered is-widescreen">
                <div class="is-flex is-flex-direction-column is-align-items-center ff25-shadow mb-4 py-4 px-2" style="background-image: url('/img/hero_ff25_alt.webp'); background-size: cover; outline: 3px solid white;">
                    <img class="mt-2 px-2" style="image-rendering: -webkit-optimize-contrast; max-width: 500px; width: 100%;" src="/img/logo.png">
                    <h2 class="px-2 is-size-1-tablet is-size-3-mobile teko my-2 ff25-shadow"><i>The Largest Community Tournament in the FGC</i></h2>
                    <p class="ff25-shadow px-4" style="max-width: 780px;"><b>Vortex Gallery is a series run through the collaboration of volunteer organizers, streamers, moderators, and commentators at major events in North America and online.</b></p>
                    <div class="pb-2"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#00a3f8', 'U7U414JGNN');kofiwidget2.draw();</script></div> 
                </div>
                <div class="columns is-multiline is-mobile mt-2 ff25-shadow">
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_1.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_2.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_3.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_4.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_5.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile" loading="lazy">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_6.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile is-hidden-touch">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_7.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_8.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                    <div class="column is-one-third-desktop is-half-tablet is-half-mobile">
                        <figure class="image m-0">
                            <img src="/img/ff24photos/site_9.webp" style="outline: 3px solid white;" loading="lazy">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>