<!DOCTYPE html>
<html class="has-navbar-fixed-top" style="overflow-y: auto !important;">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="front-hero hero is-primary is-fullheight-with-navbar">
            <div class="hero-body is-justify-content-center is-flex-direction-column">
                <div class="block">
                    <img src="/img/icon.png">
                </div>
                <div class="hero-bg px-5 pb-2 block" style="max-width: 650px;">
                    <h1 class="title is-size-1 mb-0" style="text-transform: lowercase; font-style: italic; font-weight: 400 !important;">
                    {{ page.title }}
                    </h1>
                    <hr class="mb-2 mt-0">
                    <div class="content">
                        {{content}}
                    </div>
                </div>
                <div class="block">
                    <div class="buttons">
                        <a href="{{ site.volunteer }}" class="button is-danger is-large is-responsive">
                            <span class="has-text-weight-bold">Volunteer sign-up</span>
                        </a>
                        <a href="https://twitter.com/956productions" class="button is-primary is-large is-responsive">
                            <span class="icon">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span class="has-text-weight-bold">@956productions</span>
                        </a>
                        <a href="https://evo.gg" class="button is-primary is-large is-responsive">
                            <span class="icon">
                                <i class="fa fa-link"></i>
                            </span>
                            <span class="has-text-weight-bold">EVO.gg</span>
                        </a>
                    </div>
                </div>
            </div>
        <div class="hero-footer">
            <div class="fluid-container has-background-black p-5 has-text-centered">
                <div class="content">
                Brought to you by <a class="has-text-link" href="956.productions">956 Productions.</a><br><i id="quote"></i>
                </div>
            </div>
        </div>
        </section>
    </body>
</html>