<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered has-background-black">
            <div class="hero-body">
                <h1 class="title titling is-1">
                    {{ page.title }}
                </h1>
                {% if page.date %}
                <h2 class="subtitle">
                    Last updated on {{ page.date }}
                </h2>
                {% endif %}
            </div>
        </section>
        <section class="section has-background-black-bis">
            <div class="container is-max-desktop">
                <div class="columns is-flex is-flex-direction-row is-flex-wrap-wrap">
                    <div class="column is-two-thirds is-flex-grow-1" style="min-width: 300px;">
                        <div class="rules-div content has-text-white" id="General">
                            {{content}}
                        </div>
                        {% for i in site.data.games %}
                        <div class="rules-div content has-text-white is-hidden" id="{{i['Tournament'] | replace: '.','' | replace: ' ','-' | replace: '(','' | replace: ')','' }}">
                            <h2>{{ i['Short Name'] | default: i['Game Name'] }}</h2>
                            <hr/>
                            <h3>General Information</h3>
                            <ul>
                                <li>Platform: {{i['Info-Platform'] | default: "TBA"}}</li>
                                <li>Registration Cap: {{i['Info-Cap'] | default: "TBA"}}</li>
                                <li>Registration Fee: {{i['Info-Entry Fee'] | default: "TBA"}}</li>
                                <!-- <li>Registration Close: {{i['Reg Ends'] | default: "Jan. 20, 2024."}}</li> -->
                                <li><a href="{{ i['Smash URL'] }}">Event page on Start.gg</a></li>
                                <li>Organizer: {{ i['Staff-Lead TOs'] | default: '@956Productions'}}</li>
                            </ul>
                            <h3>Prizing</h3>
                            <ul>
                                <li>Pot Split: {{i['$-Pot Split'] | default: "TBA"}}</li>
                                {% if i['Matcherino URL'] %}
                                <li><a href="{{ i['Matcherino URL'] }}">Crowdfunding via Matcherino</a></li>
                                {% endif %}
                            </ul>
                            {% if i['Pools-Bracket Type'] %}
                            <h3>Tournament Format</h3>
                            {% endif %}
                            <ul>
                                {% if i['Pools-Bracket Type'] %}
                                <li>Bracket Format: {{i['Pools-Rounds per Game']}}</li>
                                {% endif %}
                                
                                {% if i['Pools-Rounds per Game'] %}
                                <li>Rounds per Game: {{i['Pools-Rounds per Game']}}</li>
                                {% endif %}

                                {% if i['Pools-Games per Set'] %}
                                <li>Games per Set: {{i['Pools-Games per Set']}}</li>
                                {% endif %}

                                {% if i['Finals-Cut Off'] %}
                                <li>Finals Cut Off: {{i['Finals-Cut Off']}}</li>
                                {% endif %}

                                {% if i['Finals-Games per Set'] %}
                                <li>Finals Games per Set: {{i['Finals-Games per Set']}}</li>
                                {% endif %}

                                {% if i['Rules-Chara Change'] %}
                                <li>{{i['Rules-Chara Change']}}</li>
                                {% endif %}

                                {% if i['Rules-Glitches'] %}
                                <li>{{i['Rules-Glitches']}}</li>
                                {% endif %}

                                {% if i['Rules-Disconnect'] %}
                                <li>{{i['Rules-Disconnect']}}</li>
                                {% endif %}
                            </ul>
                            {% if i['Rules-Game Settings'] %}
                            <h3>Game Settings</h3>
                            <p>{{ i['Rules-Game Settings'] | newline_to_br }}</p>
                            {% endif %}
                            {% if i['Rules-Notes'] %}
                            <h3>Additional Rules</h3>
                            <p>{{i['Rules-Notes'] | newline_to_br }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="column is-one-third is-flex-grow-1" style="min-width: 300px; max-height: 500px; overflow-y: auto;">
                        <aside class="menu">
                            <div class="menu-list">
                                <a class="is-active rules-btn" id="btn-General" data-target="General">Player's Guide</a>
                            </div>
                            <p class="menu-label">
                                All Games
                            </p>
                            <div class="menu-list">
                                {% for n in site.data.games %}
                                <a class="rules-btn" id="btn-{{n['Tournament'] | replace: '.','' | replace: ' ','-' | replace: '(','' | replace: ')','' }}" data-target="{{n['Tournament'] | replace: '.','' | replace: ' ','-' | replace: '(','' | replace: ')','' }}">{{ n['Short Name'] | default: n['Game Name'] }}</a>
                                {% endfor %}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>