<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-black">
    {% include header.html %}
    <body>
        {% include navbar.html %}
        <section class="hero is-link has-text-centered">
            <div class="hero-body">
                <h1 class="title titling is-1">
                    {{ page.title }}
                </h1>
                {% if page.date %}
                <h2 class="subtitle">
                    Last updated on {{ page.date }}
                </h2>
                {% endif %}
            </div>
        </section>
        <section class="section has-background-black-bis">
            <div class="container is-max-desktop">
                <div class="columns is-flex is-flex-direction-row is-flex-wrap-wrap-reverse">
                    <div class="column is-two-thirds is-flex-grow-1" style="min-width: 300px;">
                        <div class="content has-text-white">
                            {{ content }}
                        </div>
                    </div>
                    <div class="column is-one-third is-flex-grow-1" style="min-width: 300px;">
                        <div class="content has-text-white">
                            <h1>Table of Contents</h1>
                            {% include toc.html html=content h_max=3 %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    {% include footer.html %}
</html>