<div class="columns">
    <div class="column is-5">
        <div class="box ahboxright"></div>
    </div>
    <div class="column">
        <img src="/img/vgff26/ah_logo.png" style="width: 100%; height: auto; max-width: 700px;" loading="lazy">
        <br><br>
        <p class="has-text-white text-shadow">Even more casuals, brackets and special events in the 24 hour venue at Frosty Faustings!</p>
        <br>
        <a href="/afterhours" class="button is-primary has-text-white"><b>Check it out!</b></a>
        <br><br>
        <small><i>Photo (c) Melissa Genson</i></small>
    </div>
</div>
